html{
    background-color: #d7c87b;
}
h1{
    font-family: 'Acme', sans-serif;
    color: white;
    margin-top: 10%;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Moving header*/
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
  }
 100% {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
  }
}
.movingHeader {
  text-align: center;
  position: relative;
  z-index: 1;
  
}
.movingHeader .group {
  width: 100vw;
  display: -webkit- flex;
  /* Safari */
    display: flex;
  /* Safari */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.movingHeader .group .row {
  width: 400vw;
  display: -webkit- flex;
  /* Safari */
  display: flex;
  /* Safari */
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: ticker;
          animation-name: ticker;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.movingHeader .group .row:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.movingHeader .group .row span {
  font-family: 'Acme', sans-serif;
  color: #8799ce;
  font-size: 100px;
}
/*blaadjes*/
.blaadjes{
    z-index: -1;
}
.eenA{ 
    position: absolute;
    object-fit: cover;
    top: 45%;
    left: 50%;
    width: 70%;
    height: auto;
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;  
    z-index: -1;
}
.eenC{ 
    position: absolute;
    object-fit: cover;
    top: 10%;
    left: 20%;
    width: 40%;
    height: auto;
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite; 
    z-index: -1;
}
.eenD{ 
    position: absolute;
    object-fit: cover;
    top: 60%;
    left: 0%;
     width: 32%;
    height: auto;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;  
}
.eenE{ 
    position: absolute;
    object-fit: cover;
    top: 12%;
    left: 74%;
    width: 30%;
    height: auto;
    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;  
}
.tweeA{ 
    position: absolute;
    object-fit: cover;
    
    top: 1%;
    left: -%;
     width: 70%;
    height: auto;
    -webkit-animation:spin 70s linear infinite;
    -moz-animation:spin 70s linear infinite;
    animation:spin 70s linear infinite;  
    z-index: -1;
}
.tweeB{ 
    position: absolute;
    object-fit: cover;
    top: 45%;
    left: 50%;
    width: 10%;
    height: auto;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;  
}
.tweeC{ 
    position: absolute;
    object-fit: cover;
    top: 49%;
    left: 40%;
    width: 40%;
    height: auto;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;  
}
.tweeD{ 
    position: absolute;
    object-fit: cover;
    top: 75%;
    left: 19%;
    width: 35%;
    height: auto;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite; z-index: -1; 
}
.tweeE{ 
    position: absolute;
    object-fit: cover;
    top: 5%;
    left: 60%;
    width: 26%;
    height: auto;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite;  
    z-index: -1;
}

    .eenA:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .eenC:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .eenD:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .eenE:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .tweeA:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .tweeB:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .tweeC:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .tweeD:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
    .tweeE:hover{
    -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*MENU*/
#menu{
    margin-top: 10%;
}
#menu li {

    display: flex;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 15%;
    height: 15px;
    line-height: 20px;
    white-space: nowrap;
}
a{
    color: #85c27a;
    text-decoration: none;

    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

@media screen and (min-width: 600px) {
    a{font-size: 30px;}
    h1{font-size: 150px}
}

@media screen and (min-width: 1000px) {
    
    h1{
        font-size: 250px;
        margin-top: 2%;
    }
}